@model SoundBarrierHunting.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Products</title>
</head>
<body>

    <div id="ProductContainer">
        <div class="row">
            <div class="col-lg-12">
                <div id="allVideos">
                    <div class="container" id="SoundAdviceContainer">
                        @foreach( var p in Model.Products)
                        {
                            @Html.Partial("_productSummary", p);
                        }
                     </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>