@using SoundBarrierHunting.Domain.Entities;
@model IEnumerable<Product>

@{
    ViewBag.Title = "All Videos";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Products</title>
</head>
<body>

    <div class="text-center">
        <img src="~/Content/BannerIMG.jpg" id="ProductsPhoto" />
    </div>

    <div class="text-left" id="ProductsText">
        Sound Barrier’s goal is to give hunter’s cutting edge knowledge, tips, and products
        they cannot find anywhere else, on a topic not addressed anywhere else: sound concealment.
        We are very excited about several upcoming, industry-first products that promise to deliver
        a level of stealth to hunters that has never been possible before.  Stay tuned and signup/join
        the Sound Barrier insider team for first access to information and opportunities on these
        must-have new products for all hunters.
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div id="allVideos">
                    <div class="container" id="SoundAdviceContainer">
                        @foreach (var p in Model)
                        {
                            <div class="row" id="AllVideosRow">
                                <div class="col-lg-8">
                                    <h1 class="text-left" id="VideoTitle">
                                        @p.Title
                                    </h1>
                                    <p class="text-left" id="VideoDescription">
                                        @p.Description
                                    </p>
                                    <p class="text-left" id="VideoDescription">
                                        @p.Price
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>