@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>About Us</title>
</head>
<body>
    <div id="AboutPage">
        <div class="text-left" id="AboutTop">
            Welcome to Sound Barrier! If you’re like 85% of hunters, you know noise you make in the field
             is a major problem.  From hanging stands, to coming and going from our hunting areas, science 
            is showing noises we make, big or small, are hunt-busters and drastically affect our hunting success.
              Our “noise footprint” is a large contributor to the dreaded “hunting pressure” deer feel that quickly
             contributes to them changing patterns, and the bad feeling we get seeing a great hunting area go flat.
              Sound Barrier is the first solution to the age old noise problem experienced by all hunters, offering
             real ways to get past the whitetail’s last great defense, hearing, and truly take our hunting to the next
             level.  Our information on the little-known science of deer hearing, sound advice tips and tactics, and 
            to-be-revealed products will allow you to bypass the whitetail’s last critical defense keeping you from 
            success.  If you are you ready for something truly new to the world of hunting, you’re in the right place.
              We’re here to help you never be heard again. 
        </div>
        <br />
        <div class="text-center"> 
            @*<button class="btn-success btn-lg" data-toggle="collapse" data-target="#SoundBarrierStory" id="AboutUsButton">The Sound Barrier Story</button>*@
            <div id="SoundBarrierStory" @*class="collapse"*@>
                <div class=" text-left" id="SoundBarrierStoryParagraph">
                    "It all started to solve a problem, a frustration I felt every time I went hunting, every time I walked
                    in the woods, set a stand, or scouted an area. There was this one thing I felt i could not control: the
                    noise I made. Big or small, I always made noise. I had just accepted it, and it seemed other hunters had
                    just accepted it too. It was that unspoken thing, like they had embraced it, and felt it was not a big deal.
                    Deep down I knew it was a big deal and was really affected my success.
                </div>
                <div class="text-left" id="About">
                    I remember one hunt in particular where I was taking down a stand and climbing stick. They are great tools,
                     but there a lot of ways to make noise with them. As I made the inevitable clang, a large, heavy sounding 
                    deer jumped from its bed about 40 yards away and crashed off into the distance. I knew I had ruined another
                     spot. Out of striving to be better, I found getting past a deer’s sense of hearing was the main way I could
                     drastically improve my chances of success, the one big thing that no one had a cure for. So I set out to find it.
                     I searched for answers about what a noise means to them and how it really affects them. I wanted something real:
                     indisputable science. Theories, strategies, and products were tested and developed. I went to the best books and
                     scientists to learn from them. From this, and applying my physics background, I was able to find real solutions.
                     It was through this quest for being a better hunter, by doing something that hadn’t been done before in any 
                    significant way, that Sound Barrier was born. That’s what Sound Barrier is about, that’s why we get up and do what
                     we do, to fill a need for all hunters and get past a deer’s last defense of hearing. We help others reach a truly
                     new level of stealth. We’re pioneering something new, and very challenging, but its well worth helping hunters 
                    never be heard again!"
                    <br />
                    <br />
                    - Adam Lewis (Founder)
                </div>
            </div>
        </div>
    </div>
</body>
</html>