@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Videos</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/BoneToSize.jpg" id="SoundAdvicePhoto" />
    </div>

    <div class="text-left" id="SoundAdviceBackButton">
        <a href="@Url.Action("Videos", "Home")">Back to Videos</a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="allVideos">
                <div id="SoundAdviceContainer">
                    <div class="text-center" id="videoPadding">
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/66ImvhrhuHc"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/krj1O3tHbDg"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/PIzrBx-aIpg"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/Vr6ckujZcFA"
                                frameborder="0" allowfullscreen></iframe>
                        <br />

                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/4gK8jmXqtdk"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/_d4lI_-eFwQ"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/yQXZKv65p1Q"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/MaahludNDwM"
                                frameborder="0" allowfullscreen></iframe>
                        <br />

                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/eaZWUBCDMjE"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/e5XijvELkMM"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe id="video" width="392" height="220"
                                src="https://www.youtube.com/embed/_5awTsOGr3M"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>