@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Articles</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/DeerSkullsAndAntlers.jpg" id="SoundAdvicePhoto" />
    </div>
    <div class="text-center" id="pageTitle">
        Articles
    </div>
    <div class="col-md-12" id="SoundAdviceContainer">
        <div class="row">
            <div class="text-left">
                <h2 id="SoundAdviceHeaderArticle">Articles</h2>
                <br />
                <div id="SoundAdviceArticleParagraph">
                    Several of our preliminary articles are currently being reviewed for
                    publishing. Once they are publicly available, we will make them available
                    to you as well. Stay tuned!
                </div>
            </div>
            <div class="text-center">
                <div id="RecentContent">Recent Articles</div>
                <div class="row">
                    <img id="WoodsWaterCover" src="~/Content/WoodsNWaterCoverOct.jpg" />
                    <img id="WoodsWaterCover" src="~/Content/WoodsNWaterCoverNov.jpg" />
                </div>
                <div id="ArticleDescriptions">
                    <ul>
                        <li>Is 100% stealth possible? - Oct </li>
                        <li>Be 100% stealthy - Nov </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>