@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>About Us</title>
</head>
<body>
    <div id="FounderPage">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-left" id="AboutSignature">
                    <img id="AdamHeadshot" src="~/Content/AdamHeadshot.jpg" />
                </div>
            </div>
            <div class="col-lg-9" id="FounderHeader">
                Adam Lewis is no stranger to the outdoors. A lifelong fisherman and hunter, he often feels 
                more at home in the woods and fields than anywhere else. His 11 year background in physics 
                education, coupled with this hunting passion, naturally led to discoveries and innovations 
                to help hunters in new ways, and the establishment of Sound Barrier LLC as a truly visionary
                 company.  Adam's knowledge of this new area he calls “sound concealment”  has garnered interest
                 as an outdoor writer as well. His articles have been featured in regional and national hunting 
                magazines, including Woods-N-Water News, Midwest Outdoors Magazine, and Hooks and Bullets.In addition
                 to his work at Sound Barrier, Adam has also written and published songs used by churches and 
                congregations across the country. He is a passionate sports fan, athlete, and Christian who
                 believes in the importance of faith and family.
            </div>
            @*<div class="col-lg-9" id="FounderHeader">
                Adam Lewis could be described as a modern day renaissance man, diverse in background and talents.
                Growing up, Adam excelled in sports, earning all-state baseball honors twice in high school.
                Driven by excellence and achievement translated into academics, where he was high school valedictorian
                and received a BS at Olivet Nazarene University in Science Education.
            </div>
        </div>

        <div class="text-left" id="AboutStoryParagraph">
            Adam also has a knack for the arts.  As an accomplished singer/songwriter he has published songs sung in
            churches and by congregations across America. Having 13 years experience in science, particularly physics,
            has led to an unlikely combination with another passion: hunting.  Feeling more at home in the woods and
            field, Adam has used his athleticism and knack for attention to detail to become a skilled hunter, and observer
            of whitetail over the last 24 years.  Applying his background in physics with this passion has led to discoveries
            and innovations to help hunters in a new way, and the establishment of Sound Barrier LLC as a truly visionary
            company charting new waters in the hunting industry.  Being the only one knowledgeable about this new field he
            calls “sound concealment,”  has garnered interest as an outdoor writer.  His articles have been featured in
            regional and national hunting magazines (Woods-N-Water News, Midwest Outdoors Magazine, Hooks n Bullets) showing
            his writing talent and expertise in this new arena.
        </div>
        <div class="text-left" id="AboutStoryParagraph">
            Most importantly, Adam tries to live out his Christian faith daily to positively influence friends, family,
            and those around him.
        </div>*@
        </div>
    </div>
</body>
</html>