@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>About Us</title>
</head>
<body>
    <div id="FounderPage">
        <div class="row" id="FounderHeader">
            <div class="col-lg-3">
                <div class="text-left" id="AboutSignature">
                    <img id="AdamHeadshot" src="~/Content/AdamHeadshot.jpg" />
                </div>
            </div>
            <div class="col-lg-9" id="FounderHeaderText">
                Adam Lewis is no stranger to the outdoors. A lifelong fisherman and hunter, he often feels 
                more at home in the woods and fields than anywhere else.
                <br />
                <br />
                <div id="FounderHeaderText">
                    His 11 year background in physics education, coupled with this hunting passion, naturally
                    led to discoveries and innovations to help hunters in new ways, and the establishment of
                    Sound Barrier LLC as a truly visionary company.  Adam's knowledge of this new area he calls
                    “sound concealment”  has garnered interest as an outdoor writer as well. His articles have
                    been featured in regional and national hunting magazines, including Woods-N-Water News,
                    Midwest Outdoors Magazine, and Hooks and Bullets.
                </div>

            </div>
            @*
            <div class="text-left" id="AboutStoryParagraph">
                Most importantly, Adam tries to live out his Christian faith daily to positively influence friends, family,
                and those around him.
            </div>*@
        </div>
        <div class="text-left" id="FounderBottom">
            In addition to his work at Sound Barrier, Adam has also written and published songs used by churches and
            congregations across the country. He is a passionate sports fan, athlete, and Christian who
            believes in the importance of faith and family.
        </div>
    </div>
</body>
</html>