@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sound Barrier Hunting</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/HomePageCSS.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/NavCSS.css" />
</head>
<body>
    @Html.Partial("_SideBar")
    @Html.Partial("_NavTop")
    <div class="jumbotron">
        <div class="text-center" id="Banner">
            <img src="~/Content/WebsiteMainLogoWhite.jpg" />
        </div>
    </div>
    @*<div class="container">
        <div class="col-md-6">
            <div class="text-center" id="HomepageVideo">
                <iframe width="650" height="450"
                        src="https://www.youtube.com/embed/EM4vblG6BVQ?list=PLIhBySVIZvYvGRPpExZpLLs_zS2jfzY_5"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>    
    </div>*@
    <div class="col-md-11">
        <div class="text-center" id="HomepageTagline">
            Helping hunters get past the whitetail’s last great defense: hearing.  The only source of
             sound concealment science, tips, and products for hunters.
            <br />
            <br/>
        </div>
        <div class="text-center" id="HomepageText">
            Let’s face it, there are a lot
            of gimmicks and repackaged tips and products out there in the hunting world. Very little new
            information is available that can actually give big gains in stealth, and success. That's why
            we’ve spent the last 3 years researching, conducting scientific tests, applying physics principles,
            and just grinding it out in the woods to bring a new advantage to hunters: sound concealment. From
            the little-known science of deer hearing, to the real possibility of reaching 100% stealth for the
            first time, we’ll share the secrets we’ve learned on how to truly take your hunting to the next level.
            Join us on our website, Youtube, and Twitter, and invite your friends to be part of something new and
            exciting, as we share how to never be heard again!

        </div>
    </div>
</body>
</html>
