
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sound Barrier Hunting</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="stylesheet" href="~/Content/HomeCSS.css" />
</head>
<body class="whole">
    <p class="text"> 
        Welcome to Sound Barrier Hunting!
        I will be adding new things here soon!
    </p>
</body>
</html>
