@{
    Layout = "~/Views/Shared/Layouts/_LayoutHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Sound Barrier Hunting</title>
</head>
<body>          
    <div class="col-md-12">
        <div class="row">
        </div>
    </div>

    <div class="text-center">
        <div id="RecentContentTop">Featured Videos</div>
            <div class="row" id="HomepageVideos">
                <div class="col-lg-6">
                    <div id="videoWrapper">
                        <iframe id="video" width="452" height="254"
                                src="https://www.youtube.com/embed/krj1O3tHbDg"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="videoWrapper">
                        <iframe id="video" width="452" height="254"
                                src="https://www.youtube.com/embed/qpCVD_0GJdo"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
    </div>

    <div class="text-center" id="RecentContentTop">Featured In</div>
        <div class="col-lg-4" id="ArticleDescriptions">
            <div class="text-center">
                <img class="img-responsive" id="ArticleLogos" src="~/Content/WoodsAndWaterLogo.jpg" />
            </div>
        </div>
        <div class="col-lg-4" id="ArticleDescriptions">
            <div class="text-center">
                <img class="img-responsive" id="ArticleLogos" src="~/Content/HooksAndBulletsLogo.jpg" />
            </div>
        </div>
    <div class="col-lg-4" id="ArticleDescriptions">
        <div class="text-center">
            <img class="img-responsive" id="ArticleLogos" src="~/Content/MidwestOutdoorsLogoRed.png" />
        </div>
    </div>
</body>
</html>