
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        Welcome to Sound Barrier Hunting!
        I will be adding new things here soon!
    </div>
</body>
</html>
