@{
    Layout = "~/Views/Shared/Layouts/_LayoutHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Sound Barrier Hunting</title>
</head>
<body>          
            <div class="col-md-12">
                <div class="row">
                    <div class="text-center" id="HomepageTagline">
                        Helping hunters get past the whitetail’s last great defense: hearing.  The only source of
                        sound concealment science, tips, and products for hunters.
                        <br />
                        <br />
                    </div>
                    @*<div class="text-left" id="HomepageText">
                        Let’s face it, there are a lot
                        of gimmicks and repackaged tips and products out there in the hunting world. Very little new
                        information is available that can actually give big gains in stealth, and success. That's why
                        we’ve spent the last 3 years researching, conducting scientific tests, applying physics principles,
                        and just grinding it out in the woods to bring a new advantage to hunters: sound concealment. From
                        the little-known science of deer hearing, to the real possibility of reaching 100% stealth for the
                        first time, we’ll share the secrets we’ve learned on how to truly take your hunting to the next level.
                        Join us on our website, Youtube, and Twitter, and invite your friends to be part of something new and
                        exciting, as we share how to never be heard again!
                        <br />
                    </div>*@
                </div>
            </div>
            <div class="col-md-6" id="RecentContent">
                <div class="text-center">
                    <div>Recent Videos</div>
                    <iframe id="video" width="392" height="220"
                            src="https://www.youtube.com/embed/e5XijvELkMM"
                            frameborder="0" allowfullscreen></iframe>
                    <iframe id="video" width="392" height="220"
                            src="https://www.youtube.com/embed/_5awTsOGr3M"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="RecentContent">
                <div class="text-center" id="WoodsNWaterShoutout">
                    Check out our article "Is 100% Stealth Possible" in the October edition of Woods-N-Water News!
                    <img id="WoodsWaterCover" src="~/Content/WoodsNWaterCover.jpg" />
                </div>
            </div>

            @*<script>
                $(document).ready(function () {
                    $('#openModal').modal('show');
                });
            </script>*@
</body>
</html>