
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sound Barrier Hunting</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="stylesheet" href="~/Content/HomeCSS.css" />
</head>
<body>
    
        <p class="text">
            <img class="logo" src="~/Content/SB Title under.png">
            <br />
            <br />
            Welcome to Sound Barrier Hunting! In order to give you the true Sound Barrier experience,
            <br />
            we still have some work to do on our website. Until then, if you need to talk to a 
            <br />
            representative from Sound Barrier, please email us!
            <br />
            <br />
            <a href="mailto:soundbarrierhunting@gmail.com" target="_top" >Send us an email!</a>
        </p>
</body>
</html>
