@{
    Layout = "~/Views/Shared/Layouts/_LayoutHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Sound Barrier Hunting</title>
</head>
<body>          
    <div class="col-md-12">
        <div class="row">
            <div class="text-center" id="HomepageTagline">
                Helping hunters get past the whitetail’s last great defense: hearing.  The only source of
                sound concealment science, tips, and products for hunters.
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="text-center">
        <div id="RecentContent">Recent Videos</div>
            <div class="row" id="HomepageVideos">
                <iframe id="video" width="392" height="220"
                        src="https://www.youtube.com/embed/e5XijvELkMM"
                        frameborder="0" allowfullscreen></iframe>
                <iframe id="video" width="392" height="220"
                        src="https://www.youtube.com/embed/_5awTsOGr3M"
                        frameborder="0" allowfullscreen></iframe>
            </div>
    </div>

    <div class="text-center">
        <div id="RecentContent">Recent Articles</div>
                <div class="row">
                        <img id="WoodsWaterCover" src="~/Content/WoodsNWaterCoverOct.jpg" />
                        <img id="WoodsWaterCover" src="~/Content/WoodsNWaterCoverNov.jpg" />
                </div>
        <div id ="ArticleDescriptions">
            <ul>
                <li>Is 100% stealth possible? - Oct </li>
                <li>Be 100% stealthy - Nov </li>
            </ul>
        </div>
    </div>
</body>
</html>