
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="google-site-verification" content="YmmQLwzGt4vQEh615L-Go4YbXYQqJtwbhu3GJjFF4BA" />*@
    <title>Sound Barrier Hunting</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="stylesheet" href="~/Content/HomeCSS.css" />
    

</head>
<body>


@Html.Partial("_NavTop")
@Html.Partial("_SideBar")

</body>
</html>
