@{
    Layout = "~/Views/Shared/Layouts/_LayoutNewAdvantage.cshtml";
}

<html>
<head>
    <title>New Advantage</title>
</head>
<body>
    <div class="text-center">
        <div id="NewAdvantageSection">
            <a href="http://goo.gl/forms/jLZkcuX7c3" class="btn btn-success btn-lg" id="AdvantageButton" target="_blank">
                Team Membership
            </a>
            <p id="AdvantageText">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. 
            </p>
        </div>
        <div id="NewAdvantageSection">
                <a href="@Url.Action("SoundAdvice","Home")" class="btn btn-success btn-lg" id="AdvantageButton">
                    Sound Advice
                </a>
            <p id="AdvantageText">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div id="NewAdvantageSection">
            <label id="AdvantageLabel">
                Social Media
            </label>
            <div id="AdvantageSocialMedia">
                <ul class="text-center" id="AdvSocial">
                    <li>
                        <a href="https://twitter.com/SBNeverBeHeard" id="NavBarBottomList" target="_blank">
                            <img id="Twitter" src="~/Content/Social Media/TwitterBrandLogo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/SoundBarrierHunting" id="NavBarBottomList" target="_blank">
                            <img id="Facebook" src="~/Content/Social Media/FacebookBrandLogo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC7GApssU0dRgMRH7ODKOe5Q" id="NavBarBottomList" target="_blank">
                            <img id="Youtube" src="~/Content/Social Media/YoutubeBrandLogo48.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/sound-barrier-hunting" id="NavBarBottomList" target="_blank">
                            <img id="LinkedIn" src="~/Content/Social Media/LinkedInBrandLogo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/soundbarrierhunting/" id="NavBarBottomList" target="_blank">
                            <img id="Instagram" src="~/Content/Social Media/InstagramBrandLogoColor.png">
                        </a>
                    </li>
                </ul>
            </div>
            <p id="AdvantageTextBottom">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
            </p>
        </div>            
    </div>
</body>
</html>