@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Products</title>
</head>
<body>

    <div class="text-center">
        <img src="~/Content/BannerIMG.jpg" id="ProductsPhoto" />
    </div>

    <div class="text-left" id="ProductsText">
        Sound Barrier’s goal is to give hunter’s cutting edge knowledge, tips, and products
        they cannot find anywhere else, on a topic not addressed anywhere else: sound concealment.
        We are very excited about several upcoming, industry-first products that promise to deliver
        a level of stealth to hunters that has never been possible before.  Stay tuned and signup/join
        the Sound Barrier insider team for first access to information and opportunities on these
        must-have new products for all hunters.
        <br />
        <br />
        <div class="text-center">
            <a href="http://goo.gl/forms/jLZkcuX7c3" id="Subscribe" target="_blank">
                Subscribe to updates
            </a>
        </div>
    </div>
</body>
</html>