@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/HomePageCSS.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/NavCSS.css" />
</head>
<body>
    @Html.Partial("_NavTop")

    @Html.Partial("_SideBar")
    <div class="col-lg-12">
        <div class="text-left" id="ProductsText">
            Sound Barrier’s goal is to give hunter’s cutting edge knowledge, tips, and products
             they cannot find anywhere else, on a topic not addressed anywhere else: sound concealment.
               We are very excited about several upcoming, industry-first products that promise to deliver
             a level of stealth to hunters that has never been possible before.  Stay tuned and signup/join
             the Sound Barrier insider team for first access to information and opportunities on these 
            must-have new products for all hunters.  (link to sign-up here)
            <br />
            <br />
            <div class="text-center">
                <a href="http://goo.gl/forms/jLZkcuX7c3" id="Subscribe" target="_blank">
                Subscribe to updates 
                </a>
            </div>
        </div>
    </div>
</body>
</html>