@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Science</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/HomePageCSS.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/NavCSS.css" />
</head>
<body>
@Html.Partial("_NavTop")
@Html.Partial("_SideBar")
@Html.Partial("_NavBarBottom")
    <div class="text-center">
        <img id="ScienceBuckhead" src="~/Content/Buckhead.jpg" />
    </div>

    <div class="text-left" id="ScienceHeadTop">
        The Science:
    </div>
    <div class="text-left" id="Science">
        There are lots of claims and products out there made to appeal to humans senses, not necessarily
         get past a whitetail’s.   That's why we’ve spent the last 3 years doing the research and testing
         necessary to bring new information to hunters to give them a truly new advantage on whitetails. 
         It’s science, it’s tested, and understanding it can help you reach a new level as a hunter.  This
         is the science behind what we call sound concealment.
    </div>
    <div class="text-center" id="SoundGraph">
        <img src="~/Content/SoundGraph.jpg" />
    </div>
    <div class="text-left" id="ScienceHead">
        How sound travels:
    </div>
    <div class="text-left" id="Science">
         Basically sound is a compressional wave. Its not the typical sine
        wave (like a water wave) that we usually think of. Its kind of a shock wave that travels
        as a series of back and forth compressions, like pushing a slinking and seeing a pulse
        run through it, instead of shaking a rope up and down. The source of all waves is a
        vibration of some sort. This sets a chain reaction in the medium (air when talking
        about our topic) of energy, which is all that a wave transmits..energy, bad energy in
        our case. One air molecule bumps another, transfers this vibration, which bumps
        another, and this radiates in all directions. That’s the big problem for hunters. Its
        kind of like throwing a rock in a pond, and watching the ripples travel out in all
        directions, except sound is 3 dimensional, not just 2 (maybe more like a noise bomb).
        And it takes time to travel, about 372 yards for every second. Any vibration we cause
        (crunching leaves, breaking a twig, clanging that stand, etc.) starts a chain reaction of
        energy through air, and once we’ve set this in motion we cannot change the
        consequence hunt busting noise travels in all directions!
    </div>
    <div class="text-left" id="ScienceHead">
        How Loud: 
    </div>
    <div class="text-left" id="Science">
        Sound Pressure Level, or SPL, is how the intensity of sound is measured.
        It’s measured in decibels (dB), and is relative to a random reference, the lower
        threshold of human hearing. So basically 0 on this scale is something so soft humans
        cannot hear it any more. A whisper is about 20 dB, normal speech about 60dB, and
        heavy traffic about 80dB. The SPL decreases over distance, so obviously the further
        you get from a hunt-busting noise, the lower the SPL (dB’s). Deer actually hear similar
        to humans in this regard, how soft a noise they can hear, but their ears work very
        differently in other ways.
    </div>
    <div class="text-left" id="ScienceHead">
        Deer hearing:
    </div>
    <div class="text-left" id="Science">
        Deer hear similar to us in the fact that something “loud” to us is “loud”
        to them, and something “soft” to us, is “soft” to them. However there are huge
        differences that make their hearing very effective at detecting hunter noise. First they
        have pinnae, huge radar dish ears that can rotate in any direction to pinpoint the
        slightest sound a hunter makes. Once that errant noise is made, its almost inevitable
        that they gotcha! Second, they hear better at frequencies where most “hunter noises”
        fall (like crunching leaves, breaking branches, etc.). They are designed to hear these
        very well. Lastly, they have ultrasonic hearing.
    </div>
    <div class="text-left" id="ScienceHead">
        Ultrasonic deer: 
    </div>
    <div class="text-left" id="Science">
        This basically means deer can hear higher frequencies than humans.
        This has huge implications for us hunters, that we’ve only just uncovered. Perfect
        humans can hear a frequency range from 20- 20,000 Hz. Most of us around 16,000 Hz
        is the highest pitch, or frequency, we can detect. Above that, we do not hear any
        sound made, even if it’s there. So things like a dog whistle, we can’t hear, but a dog
        can since it can hear in an ultrasonic range. This is the same for whitetails. Deer can
        hear all the way up to 54,000 Hz, well above humans. So the HUGE implication is this..
        if noises we make as hunters fall in this range, we won’t even know we are making
        them, but deer will! 
    </div>
    <div class="text-left" id="ScienceHead">
        Our tests: 
    </div>
    <div class="text-left" id="Science">
        We tested 2 dozen common hunter sounds, some of which you see on this
        chart. Using a sound-proof vault, and precision instruments, we found the exact SPL
        in dB of each sound, and also mapped their frequency spectrum (range from high to
        low). What we discovered was profound, and should profoundly change our thoughts
        in relation to hunting whitetails. Basically, most of the common sounds hunters make,
        exist at a high SPL in the ultrasonic range..the range deer can hear but we cannot!
    </div>
    <div class="text-left" id="ScienceHead">
        Translated: 
    </div>
    <div class="text-left" id="Science">
        we make noises that we cannot hear, that we don’t even know we are
        making, that deer can hear very well!
        How far sounds travel: This chart shows noises we tested, the SPL we recorded, and
        a calculated distance these sounds will travel. Its based on solid physics, and a basic
        understanding of how many decibels a noise drops over distance. Once it drops at or
        slightly below the “ambient” sound pressure level (the normal hum of sounds around
        us in the woods from wind, insects, etc.), then we and deer won’t hear it. As you can
        see, noises we make travel far, and some.. very far.
    </div>
    <div class="text-left" id="ScienceHead">
        What this chart means: 
    </div>
    <div class="text-left" id="ScienceBottom">
        The bottom line is, deer can hear all this noise we make, and
        it does affect their behavior...in a way we do not want. Keep in mind that
        environmental conditions can greatly affect how far sounds will be detected. The
        chart is assuming a very calm day, like those crisp, calm days we usually like to be out
        hunting. Things like wind speed, wind direction, temperature, temperature of air
        masses, and topographic features are all variables that do affect this as well.
        What this means for hunters: Bottom line, this means we have to find ways to get
        past a deer’s sense of hearing because it’s a major problem keeping us from success.
        It also means, however, that by doing this hunters can reach a new level and gain a
        new advantage on the whitetail’s we passionately pursue! See sound advice for rules
        of sound concealment.
    </div>
    <br />
    <br />
</body>
</html>