@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>The Science</title>
</head>
<body>

    <div class="text-center">
        <img id="SoundAdvicePhoto" src="~/Content/HangingBuck.jpg" />
    </div>

    <div class="text-left" id="SoundAdviceBackButton">
        <a href="@Url.Action("SoundAdvice", "Home")">Back to Sound Advice</a>
    </div>

    <div class="text-left" id="ScienceIntro">
        The proof is in the science.  No gimmicks, no sales pitches, just facts.  We’ve tested
         and researched how deer hear, how far typical sounds hunters make travel, and identified
         how this affects our hunting success.  Check it out, and we’ll help you leverage it to give
         you a new advantage!
    </div>

    <div class="text-center">
        <button class="btn-success btn-lg" data-toggle="collapse" data-target="#hearingBasics" id="ScienceButton">Sound Basics</button>
        <div id="hearingBasics" class="collapse">
            <div class="text-left" id="ScienceHead">
                How sound travels:
            </div>
            <div class="text-left" id="Science">
                Basically sound is a compressional wave.  Its not the typical sine wave (similar in
                 shape to a water wave) that we usually think of.  Its a shock wave that travels as
                 a series of back and forth compressions, like pushing a slinking and seeing a pulse
                 run through it.  The source of all waves is a vibration of some sort.  This sets a 
                chain reaction in the medium (air when talking about our topic of deer hearing) of 
                energy, which is all that a wave transmits..energy, bad energy in our case.  One air
                 molecule bumps another, transfers this vibration, which bumps another, and this radiates
                 in all directions.  That’s the big problem for hunters.   It’s kind of like throwing
                 a rock in a pond, and watching the ripples travel out in all directions, except sound
                 is 3- dimensional, not just 2-dimensional (maybe more like a noise bomb in our case).
                  And it takes time to travel, about 372 yards every second.  Any vibration we cause 
                (crunching leaves, breaking a twig, clanging that stand, etc.) starts a chain reaction
                 of energy through air, and once we’ve set this in motion we cannot change the 
                consequence… hunt-busting noise traveling in all directions! 
            </div>
            <div class="text-left" id="ScienceHead">
                How Loud:
            </div>
            <div class="text-left" id="ScienceBottom">
                Sound Pressure Level, or SPL,  is how the intensity of sound is measured.  It’s measured
                 in decibels (dB), and is relative to a random reference, the lower threshold of human 
                hearing.  So basically 0 on this scale is something so soft humans cannot hear it any more.
                  A whisper is about 20 dB, normal speech about 60dB, and heavy traffic about 80dB.  
                The SPL decreases over distance, so obviously the further you get from a hunt-busting 
                noise, the lower the SPL (dB’s).  Deer actually hear similar to humans in this regard,
                 as to how soft a noise they can actually hear, but their ears work very differently 
                in other ways.
            </div>
        </div>
    </div>
     
    @*Scrunched*@
    <div class="text-center">
        <button class="btn-success btn-lg" data-toggle="collapse" data-target="#deerHearing" id="ScienceButton">How Deer Hear</button>
        <div id="deerHearing" class="collapse">
            <div class="text-left" id="ScienceHead">
                Deer Hearing:
            </div>
            <div class="text-left" id="Science">
                Deer hear similar to us in the fact that something “loud” to us is “loud” to them, and
                 something “soft” to us, is “soft” to them.  However there are huge differences that 
                make their hearing very effective at detecting hunter noise.  First they have pinnae,
                 huge radar dish ears that can rotate in any direction to pinpoint the slightest sound
                 a hunter makes.  Once one errant noise is made, it’s almost inevitable  that they will
                 detect you.  Second, they hear much better at the particular frequencies where most 
                “hunter noises” fall (like crunching leaves, breaking branches, etc.).  They are designed
                 to hear these very well.  Good for them, bad for us.  Lastly, they have ultrasonic hearing. 
            </div>
            <div class="text-left" id="ScienceHead">
                Ultrasonic hearing:
            </div>
            <div class="text-left" id="ScienceBottom">
                This basically means deer can hear higher frequencies than humans.  This has huge implications
                for us hunters, that we’ve only just uncovered.  Perfect humans can hear a frequency range
                from 20- 20,000 Hz.  Most of us around 16,000 Hz is the highest pitch, or frequency,  we
                can detect.  Above that, we do not hear any sound made, even if it’s there.  So things
                like a dog whistle, we can’t hear, but a dog can since it can hear in an ultrasonic range.
                This is the same for whitetails.  Deer can hear well all the way up to 54,000 Hz, well
                above human hearing.  So the HUGE implication is this.. if noises we make as hunters fall
                in this range, we won’t even know we are making them, but deer will!
            </div>
        </div>
    </div>

    <div class="text-center" id="ScienceButtonBottom">
        <button class="btn-success btn-lg" data-toggle="collapse" data-target="#ourTests" id="ScienceButton">Our tests</button>
        <div id="ourTests" class="collapse">
            <div class="text-left" id="ScienceHead">
                Deer testing:
            </div>
            <div class="text-left" id="Science">
                We tested 2 dozen common hunter sounds, some of which you see on this chart.  Using a 
                sound-proof vault, and precision instruments, we found the exact SPL in dB of each
                 sound, and also mapped their frequency spectrum (range from high to low).  What we
                 discovered was profound, and should profoundly change our thoughts in relation to
                 hunting whitetails.  Basically, most of the common sounds hunters make, exist at 
                a high SPL in the ultrasonic range..the range deer can hear but we cannot!  
                Translated:  We make noises that we cannot hear, that we don’t even know we are making,
                 that deer can hear very well!
            </div>
            <div class="text-left" id="ScienceHead">
                How far sounds travel:
            </div>
            <div class="text-left" id="Science">
                This chart shows noises we tested, the SPL we recorded, and a calculated distance these
                 sounds will travel.  Its based on solid physics, and a basic understanding of how SPL 
                drops over distance.  Once it drops at or slightly below the “ambient” sound pressure 
                level (the normal hum of sounds around us in the woods from wind, insects, etc.), then
                 we and deer won’t hear it.  As you can see, noises we make travel far, and some very far.
            </div>
            <div id="SoundGraph">
                <div class="text-center">
                    <img class="img-responsive" src="~/Content/SoundGraph.jpg" />
                </div>
            </div>
            <div class="text-left" id="ScienceHead">
                What this chart shows:
            </div>
            <div class="text-left" id="Science">
                The bottom line is, deer can hear all this noise we make, and it does affect their behavior
                 in a way we do not want.  Keep in mind that environmental conditions can greatly affect 
                how far sounds will be detected.  The chart is assuming a very calm day, like those crisp,
                 calm days we usually like to be out hunting.  Things like wind speed, wind direction,
                 temperature, positioning of air masses, and local topographic features are all variables 
                that do affect this as well.   
            </div>
            <div class="text-left" id="ScienceHead">
                What this means for hunters:
            </div>
            <div class="text-left" id="ScienceBottom">
                Bottom line, this means we have to find ways to get past a deer’s sense of hearing if we want
                 to improve our hunting, because it’s  a major problem keeping us from success.  It also
                 means, however, that by doing this hunters can reach a new level and gain a new advantage
                 on the whitetail’s we passionately pursue!   see sound advice for rules of sound concealment
                 for how to do this and get past a whitetail’s last great defense: hearing!
            </div>
        </div>
    </div>



</body>
</html>