@{
    Layout = "~/Views/Shared/Layouts/_LayoutSoundAdvice.cshtml";
}

<html>
<head>
    <title>Sound Advice</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Videos","Home")" class="btn btn-success btn-lg" id="SoundAdviceButton">
                Videos and Tips
            </a>
        </div>
        <div class="col-lg-8">
            <p id="SoundAdviceText">
                Our videos offer insightful information, thought provoking challenges, and science 
                you won’t find anywhere else.  Watch, think, then act to take it to the next level!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Science","Home")" class="btn btn-success btn-lg" id="SoundAdviceButton">
                Deer Hearing Science
            </a>
        </div>
        <div class="col-lg-8">
            <p id="SoundAdviceText">
                What you don’t know really can hurt you!  We’ve done the research and 
                testing necessary to bring new information to give hunters a new advantage: sound concealment!
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Articles", "Home")" class="btn btn-success btn-lg" id="SoundAdviceButton">
                Articles
            </a>
        </div>
        <div class="col-lg-8">
            <p id="SoundAdviceTextBottom">
                Look here for more information on magazine articles by Founder and outdoor writer Adam Lewis.
            </p>
        </div>
    </div>
</body>
</html>

