@{
    Layout = "~/Views/Shared/Layouts/_LayoutSoundAdvice.cshtml";
}

<html>
<head>
    <title>Sound Advice</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Videos","Home")" class="btn btn-success btn-lg" id="SoundAdviceButton">
                Videos and Tips
            </a>
        </div>
        <div class="col-lg-4">
            <p id="SoundAdviceText">
                Our videos offer insightful information, thought provoking challenges, and science 
                you won’t find anywhere else.  Watch, think, then act to take it to the next level!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Science","Home")" class="btn btn-success btn-lg" id="SoundAdviceButton">
                Deer Hearing Science
            </a>
        </div>
        <div class="col-lg-4">
            <p id="SoundAdviceText">
                What you don’t know, really can hurt you!  That’s why we’ve done the researching and 
                testing necessary to bring new information to give hunters a truly new advantage.  Its 
                science, its real, and understanding it can help you reach a new level as a hunter.  
                This is the science behind what we call sound concealment.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Articles","Home")" class="btn btn-success btn-lg" id="SoundAdviceButton">
                Articles
            </a>
        </div>
        <div class="col-lg-4">
            <p id="SoundAdviceTextBottom">
                Look here for more information on magazine articles by Founder and outdoor writer Adam Lewis.
            </p>
        </div>
    </div>
</body>
</html>

