@font-face{
    font-family:LocustResistance;
    src:url(CGF-Locust-Resistance.ttf);
}

@font-face{
    font-family:Bombardier;
    src:url(BOMBARD_.ttf);
}

/*Index Page*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      height:550px;
      margin: auto;
  }
.carousel-caption{
    color:#00ff21;
    font-size:20px;
}
.caption-header{
    color:#00ff21;
    font-size:25px;
    font-weight:bold;
}
#Banner{
    padding-top:2px;
    align-content:center;
}

#HomepageTagline{
    font-family:Bombardier;
    font-size:22px;
    justify-content:center;
    padding-left:15%;
}

#HomepageText{
    font-family:Bombardier;
    font-size:22px;
    justify-content:center;
    padding-left:15%;
}

#HomepageVideo{
    padding-left:50%;
    padding-top:15px;
}

.jumbotron{
    background-color:black;
}

/*About Page*/


#AboutNBHA{
    padding-left:10%;
    padding-top:100px;
    width:1800px;
    height:auto;
}

#AboutSignature{
    justify-content:center;
    font-weight:bold;
    width:1500px;
    padding-left:25%;
}

#AboutHead{
    justify-content:center;
    padding-top:25px;
    font-weight:bold;
    width:1500px;
    padding-left:25%;
}
#About{
    text-indent:50px;
    justify-content:center;
    width:1500px;
    padding-left:25%;
}

/*Science Page*/
#ScienceHeadTop{
    justify-content:center;
    padding-top:175px;
    font-weight:bold;
    width:1500px;
    padding-left:25%;
}

#ScienceHead{
    justify-content:center;
    padding-top:25px;
    font-weight:bold;
    width:1500px;
    padding-left:25%;
}

#Science{
    text-indent:50px;
    justify-content:center;
    width:1500px;
    padding-left:25%;
}
#SoundGraph{
    justify-content:center;
}


/*Contact Page*/
.contactInfo{
    text-align:center;
    padding-top:100px;
}

.contactHeader{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.form-group{
    font-size:18px;
}
/*Products*/
#Subscribe{
    text-align:center;
    padding-top:100px;
}