@font-face{
    font-family:LocustResistance;
    src:url(CGF-Locust-Resistance.ttf);
}

@font-face{
    font-family:Bombardier;
    src:url(BOMBARD_.ttf);
}

/*Index Page*/
#Banner{
    padding-top:2px;
    align-content:center;
}

#HomepageTagline{
    font-family:Bombardier;
    font-size:35px;
    justify-content:center;
    padding-left:20%;
}

#HomepageVideo{
    padding-left:50%;
    padding-top:15px;
}

.jumbotron{
    background-color:black;
}

/*About Page*/
#AboutDescription{
    text-indent:50px;
    justify-content:center;
    padding-left:20%;
    padding-top:100px;
    font-weight:bold;
}

#AboutNBHA{
    padding-left:5%;
    padding-top:150px;
    width:1800px;
    height:auto;
}

/*Contact Page*/
.contactInfo{
    text-align:center;
    padding-top:100px;
}

.contactHeader{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.form-group{
    font-size:18px;
}