@media (max-width:767px) {
    #navbarTop {display:none;}
}

@media (max-width:767px) {
    #listItems {display:none;}
}

@media (max-width:767px) {
    #Band {display:none;}
}

/*@media (max-width:1160px){
    #navMenu {display:none;}
}*/

@media (max-width:1817px){
    #navbarNBHA {display:none;}
}

#listItems ul li{
    margin-left:15px;
    margin-right:15px;
    display: inline;
}

#Band {
    position:fixed;
    border-radius:0px;
    /*background-color: #e6ffe4;*/
    background-color:#414040;
    height:30px;
    margin:0;
    width:100%;
    z-index:2000;
}

#navButtons{
    padding-left:30px;
    padding-right:30px;
    color:white;
    display:inline;
    list-style:none;
    font-size:25px;
    font-family:Bombardier;
}

#navButtonsSoundAdvice{
    padding-left:30px;
    padding-right:30px;
    color:#00ff15;
    display:inline;
    list-style:none;
    font-size:40px;
    font-family:Bombardier;
    font-style:italic;
}

#navMenu{
    padding-top:50px;
    padding-right:100px;
}

#navButtonsSoundAdvice:hover { 
    color:black;
    background-color: #00ff15;
    padding-top:40px;
    padding-bottom:32px;
    text-decoration: none;
}

#navButtons:hover { 
    color:black;
    background-color: white;
    padding-top:40px;
    padding-bottom:35px;
    text-decoration: none;
}

#navbarNBHA{
    margin-top:55px;
    width:525px;
    height:50px;
}
.navbar-left{
    padding-left:10%;
    padding-top:30px;
    z-index:0;
}

#navbarTopMobile{
    position:fixed;
    width:100%;
    background:black;
    z-index:1001;
    height:10px;
}
#mobileNavbarBrand > a{
    font-family:Bombardier;
    font-size:25px;
    color:white;
}

#navRect{
    border-radius: 0px 0px 10px 10px;
    border: 1px solid black;
    background: black;
    width: 400px;
    height: 150px; 
}

#navbarTop{
    position:fixed;
    width:100%;
    background:black;
    z-index:1000;
    height:130px;
}

.navbar{
    background:rgba(128, 128, 128, 0.0);
    height:30px;
    margin-bottom: 0;
}

#BandBarButton > a:hover{
    color: black;
    background-color:#00ff15;
    padding-top:50%;
    padding-bottom:5px;
    padding-left:35px;
    padding-right:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
}

#BandBarButton > a{
    padding-top:20px;
    padding-right:35px;
    color: white;
    font-size:20px;
    padding-left:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#NavBarBottomListLink{
    color: #00ff15;
    font-size:25px;
    font-family:Bombardier;
}

#NavBarBottomListLink:hover { 
    color:black;
    align-content:center;
    background-color: white;
    padding-top:10px;
    padding-bottom:30px;
    text-decoration: none;
}

.SoundBarrierNav{
    padding-left:20px;
    width:375px;
    height:150px;
}

#sidebarGlyphs{
    font-size:35px;
}

#sidebarListItem > a{
    color:black;
}

#sidebarListItem{
    padding-bottom:75px;
    color:white;
}

.sidebar{ 
    height:100%;
    background-color:#00ff21;
    width:60px;
    position:fixed;
    z-index:5000;
}

.sidebar-nav{
    font-size:10px;
    list-style-type:none;
    padding-left:10px;
    padding-top:175px;
}

#Instagram{
    width:32px;
    height:32px;
}

#Twitter {
    width:37px;
    height:37px;
}

#Youtube{
    width:40px;
    height:30px;
}

#Facebook{
    width:28px;
    height:28px;
}
#LinkedIn{
    width:36px;
    height:28px;
}
