.visible-lg ul{
    padding-left:650px;
    display: inline;
    justify-content:center;
}

.jumbotronBand{
    background-color:lightgreen;
    height:35px;
}

#navButtons{
    padding-left:30px;
    padding-right:30px;
    color:white;
    display:inline;
    list-style:none;
    font-size:25px;
    font-family:Bombardier;
}

#navMenu{
    padding-top:40px;
    padding-right:100px;
}

#navButtons:hover { 
    color:black;
    background-color: white;
    padding-top:40px;
    padding-bottom:40px;
}

.navbar-left{
    padding-left:10%;
    padding-top:30px;
    z-index:0;
}

#navRect{
    border-radius: 0px 0px 10px 10px;
    border: 1px solid black;
    background: black;
    width: 400px;
    height: 125px; 
}

#navbarTop{
    width:100%;
    background:black;
    z-index:1000;
    height:115px;
}

.navbar{
    width:100%;
    background:rgba(128, 128, 128, 0.8);
    z-index:1000;
    height:65px;
}

#BandBarButton > a:hover{
    color: black;
    background-color:lime;
    padding-top:10%;
    padding-bottom:10px;
    padding-left:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#BandBarButton > a{
    padding-right:20px;
    color: black;
    font-size:20px;
    padding-left:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#NavBarBottomList{
    padding-top:20px;
    color:white;
    font-size:25px;
    font-family:Bombardier;
}

#NavBarBottomList:hover { 
    color:black;
    background-color: white;
}

.SoundBarrierHorizontal{
    padding-bottom:50px;
    height:85px;
    width:250px;
}

.SoundBarrierNav{
    padding-left:20px;
    width:375px;
    height:125px;
}

#sidebarGlyphs{
    font-size:35px;
}

#sidebarListItem > a{
    color:black;
}

#sidebarListItem{
    padding-bottom:75px;
    color:white;
}

.sidebar{ 
    height:100%;
    background-color:#00ff21;
    width:60px;
    position:fixed;
    z-index:999;
}

.sidebar-nav{
    font-size:10px;
    list-style-type:none;
    padding-left:10px;
    padding-top:175px;
}





