<div class="panel" id="Band">
    <div class="text-right"id="BandBarButton">
        <a href="@Url.Action("ContactUs")" target="_blank">
            Contact Us
        </a>
        <a href="http://goo.gl/forms/jLZkcuX7c3" target="_blank">
            Subscribe
        </a>
    </div>
</div>
