<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Carousel/StepInWoods.jpg" alt="...">
            <div class="carousel-caption">
                <div class="caption-header">
                    <h3>What is Sound Barrier?</h3>
                </div>
                <p>The new advantage in hunting is here!</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Carousel/DoeAndFawn.jpg" alt="...">
            <div class="carousel-caption">
                <div class="caption-header">
                    <h3>Deer Hearing</h3>
                </div>
                    <p>The little known science and what it means for your success.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Carousel/HeadingToWoods.jpg" alt="...">
            <div class="carousel-caption">
                <div class="caption-header">
                    <h3>100% Steath</h3>
                </div>   
                <p>Is it really possible? What all hunters need to know</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Carousel/BoneCollector.jpg" alt="...">
            <div class="carousel-caption">
                <div class="caption-header">
                    <h3>Join the Sound Barrier Team!</h3>
                </div>
                    <p>Insider information and opportunities</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->