<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Carousel/StepInWoods.jpg" alt="...">
            <div class="carousel-caption">
                <h1 id ="carousel-caption">
                    <a href="@Url.Action("About","Home")">What is Sound Barrier?</a>
                </h1>
                <p>The new advantage in hunting is here!</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Carousel/DoeAndFawn.jpg" alt="...">
            <div class="carousel-caption">
                <h1 id="carousel-caption">
                    <a href="@Url.Action("Science","Home")">Deer Hearing</a>
                </h1>
                <p>The little known science and what it means for your success.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Carousel/HeadingToWoods.jpg" alt="...">
            <div class="carousel-caption">
                <h1 id="carousel-caption">
                    <a href="@Url.Action("SoundAdvice","Home")">100% Steath</a>
                </h1>
                <p>Is it really possible? What all hunters need to know</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Carousel/BoneCollector.jpg" alt="...">
            <div class="carousel-caption">
                <h1 id="carousel-caption">
                    <a href="@Url.Action("ContactUs","Home")">Join the Sound Barrier team!</a>
                </h1>
                <p>Insider information and opportunities</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->