<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/jquery.mobile-1.4.5.min.css"/>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.mobile-1.4.5.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
@Html.Partial("_Nav.Mobile", "Shared")
    <div>
            @RenderBody()
    </div>
</body>
</html>
