
    @*<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="memberModalLabel">Join us at Sound Barrier!</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <a href="http://goo.gl/forms/jLZkcuX7c3" id="ModalSubscribeContact" 
                            target="_blank">Subscribe&nbsp;</a>for updates and join us on social media!</div>

                    <div class="text-center" id="modalList">
                        <ul id="modalSocialMedia">
                            <li>
                                <a href="https://twitter.com/SBNeverBeHeard" id="NavBarBottomList" target="_blank">
                                    <img id="Twitter" src="~/Content/Social Media/TwitterBrandLogo.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/SoundBarrierHunting" id="NavBarBottomList" target="_blank">
                                    <img id="Facebook" src="~/Content/Social Media/FacebookBrandLogo.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC7GApssU0dRgMRH7ODKOe5Q" id="NavBarBottomList" target="_blank">
                                    <img id="Youtube" src="~/Content/Social Media/YoutubeBrandLogo48.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/sound-barrier-hunting" id="NavBarBottomList" target="_blank">
                                    <img id="LinkedIn" src="~/Content/Social Media/LinkedInBrandLogo.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/soundbarrierhunting/" id="NavBarBottomList" target="_blank">
                                    <img id="Instagram" src="~/Content/Social Media/InstagramBrandLogoColor.png">
                                </a>
                            </li>               
                        </ul>
                    </div>
                    <div class="text-center">
                        or
                    </div>
                    <div class="text-center">
                        <a href="@Url.Action("ContactUs")" id="ModalSubscribeContact" target="_blank">
                            Contact Us
                        </a>for more information
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@

