<div class="navbar navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text">Andrew Baldridge</p>
        <div class="hidden-xs">
            <p class="navbar-text">andrewgbaldridge.com</p>
        </div>
    </div>
</div>