<div class="navbar navbar-fixed-bottom" id="listItems">
    <div class="container">
        <ul class="text-center" id="navBottomList">
            <li>
                <a href="http://goo.gl/forms/jLZkcuX7c3" id="NavBarBottomListLink" target="_blank">
                    Subscribe
                </a>
            </li>
            <li>
                <a href="https://twitter.com/SBNeverBeHeard" id="NavBarBottomList" target="_blank">
                    <img id="Twitter" src="~/Content/Social Media/TwitterBrandLogo.png">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/SoundBarrierHunting" id="NavBarBottomList" target="_blank">
                    <img id="Facebook" src="~/Content/Social Media/FacebookBrandLogo.png">
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UC7GApssU0dRgMRH7ODKOe5Q" id="NavBarBottomList" target="_blank">
                    <img id="Youtube" src="~/Content/Social Media/YoutubeBrandLogo48.png">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/sound-barrier-hunting" id="NavBarBottomList" target="_blank">
                    <img id="LinkedIn" src="~/Content/Social Media/LinkedInBrandLogo.png">
                </a>
            </li>
            <li>
                <a href="https://instagram.com/soundbarrierhunting/" id="NavBarBottomList" target="_blank">
                    <img id="Instagram"src="~/Content/Social Media/InstagramBrandLogoColor.png">
                </a>
            </li>

            <li>
                <a href="@Url.Action("ContactUs")" id="NavBarBottomListLink" target="_blank">
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
</div>