<div class="navbar navbar-fixed-bottom">
    <div class="visible-lg">

        <ul class="nav navbar-nav" >

            <li>
                <a href="http://goo.gl/forms/jLZkcuX7c3" id="NavBarBottomList" target="_blank">
                    Subscribe
                </a>
            </li>
            <li>
                <a href="https://twitter.com/SBNeverBeHeard"  target="_blank">
                    <img src="~/Content/Social Media/twitter.png">
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/SoundBarrierHunting"  target="_blank">
                    <img src="~/Content/Social Media/facebook.png">
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/company/sound-barrier-hunting" target="_blank">
                    <img src="~/Content/Social Media/linkedin.png">
                </a>
            </li>

            <li>
                <a href="https://instagram.com/soundbarrierhunting/" target="_blank">
                    <img src="~/Content/Social Media/instagram.png">
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com/channel/UCLVRJtokdLVvvOGLUVVJcjA"  target="_blank">
                    <img src="~/Content/Social Media/youtube.png">
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContactUs")" id="NavBarBottomList" target="_blank">
                    Contact Us
                </a>
            </li>
        </ul>
    </div>

</div>