<div class="sidebar">
    <ul class="sidebar-nav navbar-left">
        <li id ="sidebarListItem" class="text-center">
            <a href="#">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-home" style="color:#00ff21"></span>
                <br />Home
            </a>
        </li>
        <li id="sidebarListItem" class="text-center">
            <a href=@Html.Partial("_AboutHome")>
                <span id="sidebarGlyphs" class="glyphicon glyphicon-info-sign" style="color:#00ff21"></span>
                <br />About Us
            </a>
        </li>
        <li id="sidebarListItem" class="text-center" style="text-decoration-color:white">
            <a href="#">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-headphones" style="color:#00ff21"></span>
                <br />Products
            </a>
        </li>
        <li id="sidebarListItem" class="text-center">
            <a href="#">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-book" style="color:#00ff21"></span>
                <br />Articles
            </a>
        </li>
        <li id="sidebarListItem" class="text-center">
            <a href="#">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-facetime-video" style="color:#00ff21"></span>
                <br />Videos
            </a>
        </li>
    </ul>
</div>