@*@foreach (var v in Model.Videos)
{
    if (v.Category == "Sound Barrier Info")
    {
        <div class="row" id="AllVideosRow">
            <div class="col-lg-4">
                <iframe id="video" width="392" height="220"
                        src="@v.Link"
                        frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-8">
                <h1 class="text-left" id="VideoTitle">
                    @v.Title
                </h1>
                <p class="text-left" id="VideoDescription">
                    @v.Description
                </p>
            </div>
        </div>
    }
}*@

