@using SoundBarrierHunting.Domain.Entities;
@model IEnumerable<Video>

@{
    ViewBag.Title = "All Videos";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Videos</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/BoneToSize.jpg" id="SoundAdvicePhoto" />
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="text-left" id="BackToVideosButton">
                <a href="@Url.Action("Videos", "Video")">Back to Videos</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="allVideos">
                    <div class="container" id="SoundAdviceContainer">
                        @foreach (var v in Model)
                        {
                            if (v.Category == "Rules of Sound Concealment")
                            {
                                <div class="row" id="AllVideosRow">
                                    <div class="col-lg-4">
                                        <iframe id="video" width="392" height="220"
                                                src="@v.Link"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-lg-8">
                                        <h1 class="text-left" id="VideoTitle">
                                            @v.Title
                                        </h1>
                                        <p class="text-left" id="VideoDescription">
                                            @v.Description
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>